- if @current_user.gender
  .jumbotron
    .row
      .col-md-12
        %h4 Special animal, please wait for special arrangement (chuckle)
- else
  - if !@current_user.partner_id.blank?
    .jumbotron
      .row
        .col-md-12
          - if @current_user.is_selector
            %h3= "Your partner is [#{@current_user.partner.name}]. Don't fight together!"
          - else
            %h3= "Your lonely life is over! You've chosen by other animal [#{@current_user.partner.name}]."

  - else
    .jumbotron
      .row
        .col-md-12
          %h3.text-center Don't you want to be alone in your Zoo's cage?
          %p.text-center
            = button_tag 'Yes, please give me an animal', :class => 'btn btn-success btn-lg', :id => 'select-partner', :'data-url' => select_partner_babies_url

          %p#message.text-danger.text-center

.row
  .col-md-12
    %table.table.table-striped
      %thead
        %th Cage ID
        %th First Animal
        %th Second Animal
      %tbody
        - if @teams.size > 0
          - @teams.each do |team_id, team|
            %tr
              %td= team_id
              %td
                = team[0].name
                - if team[0].is_selector
                  (*)
              %td
                = team[1].name
                - if team[1].is_selector
                  (*)
        - else
          %tr
            %td{colspan: 3} There is no teams right now!