.jumbotron
  = form_tag wheres_your_key_babies_url(), method: 'post', class: 'form-horizontal', role: 'form' do
    .row
      .col-md-12
        %h3 What is your Zoo ID?
    .row
      .col-md-12
        .input-group{:class => "#{@invalid_access_code ? 'has-error' : ''}"}
          = text_field_tag :access_code, params[:access_code], :autofocus => true, :autocomplete => "off", :class => 'form-control input-lg', :placeholder => "Enter your zoo's number"
          %span.input-group-btn
            = submit_tag "Get access", :class => 'btn btn-success btn-lg'
    .row
      .col-md-12
        %p
          %br/
          %small.smaller Don't have a Zoo ID? Contact Skype [dat.nguyen293] for enrolment.
