!!!
%head
  %title Savvycom Open Zoo
  %meta{charset: "utf-8"}
  %meta{:"http-equiv" => "X-UA-Compatible", :content => "IE=edge"}
  %meta{:name => 'viewport', :content => "width=device-width, initial-scale=1"}

  = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
  = javascript_include_tag "application", "data-turbolinks-track" => true
  = csrf_meta_tags

  / Latest compiled and minified CSS
  %link{:rel => "stylesheet", :href => "//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"}

  / Optional theme
  %link{:rel => "stylesheet", :href => "//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css"}

  / Latest compiled and minified JavaScript
  %script{:src => "//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js", :type => "text/javascript"}

%body
  .navbar.navbar-inverse{:role => "navigation"}
    .container
      .navbar-header
        = link_to 'Savvycom Open Zoo', '#', :class => "navbar-brand"

      - if !@current_user.blank?
        %ul.nav.navbar-nav.pull-right
          %li.dropdown
            = link_to '#', :class => 'dropdown-toggle', :'data-toggle' => 'dropdown' do
              = @current_user.name
              %b.caret
            %ul.dropdown-menu
              %li= link_to 'Logout', get_me_out_babies_url, :'data-method' => 'delete'

  .container.theme-showcase{role: 'main'}
    = yield
